#solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding-block: 4rem;
}

#solution header {
  display: grid;
  max-width: 40rem;
  gap: 1.5rem;
  text-align: center;
}

#solution header > span > h2 {
  color: var(--primary-color);
  font-size: var(--fs-sm);
}

#solution p {
  color: var(--second-text-color);
}

#solution .even-columns {
  width: 100%;
  gap: 1.5rem;
}

.card {
  display: flex;
  min-height: 24rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: var(--light-gray);
  box-shadow: 0 10px 24px var(--shadow-color);
  text-align: center;
}

.card > span {
  display: flex;
  min-height: 8rem;
  align-items: end;
}

.card > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  gap: 1.5rem;
}

.card h3 {
  padding-inline: 1rem;
}

.card p {
  padding-inline: 1.5rem;
}

.card hr {
  width: 100%;
  height: 6px;
  border: none;
  background: var(--primary-color);
}

@media (width >= 980px) {
  #solution {
    padding-block: 6rem;
  }

  #solution header > span > .desktop-only h2 {
    color: var(--text-color);
    font-size: var(--fs-lg);
  }
}
