.container {
  --max-width: 1120px;
  width: min(var(--max-width), calc(100% - 2rem));
  margin-inline: auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.py-sm {
  padding-block: 1rem;
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1.5rem;
}

@media (width >= 980px) {
  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
